/* Kirjoita mukautettu CSS-koodisi tähän. */
.biisinumero{text-align: center;
	font-size:small;
}
.biisiotsikko{text-align: center;
	font-family: Lora;
	padding-top: 110px;
	margin-top: -110px;}
.savsan{text-align: center;}
.linkkilista {text-align: center; 
	font-size: 15px;}
a:link.linkkibiisi, a:visited.linkkibiisi{ 
	font-family: Lora;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;}
a:hover.linkkibiisi, a:active.linkkibiisi {
	color: grey;
	text-decoration: none;}
.tekija {color: red;}
.tekija2{color: red;
	font-style: italic;}
.esittelyt {text-align: center;
	text-justify: auto;}
.valimerkit {
	text-align: center;
	color: red;}
.karaokeversio {
	color: black; 
	font-style: italic; 
	font-size:small; 
	text-align: center;}
.video {text-align: center;}
body.page.page-id-1231 {
	background-color: #EBECF0;
}